<app-header title="Inicio Profesor"></app-header>

<ion-content class="ion-padding">
  <h2>Bienvenido Chef</h2>
  <p>Administra tus fichas técnicas y supervisa el progreso de tus módulos de formación culinaria.</p>

  <ion-button (click)="addUpdateRecipe()" expand="block" mode="ios" class="add-button-custom">
    <ion-icon slot="start" name="add-outline"></ion-icon>
    Crear nueva ficha
  </ion-button>

  <!-- ion card info -->

  <ion-card>
    <ion-card-header>
      <ion-item lines="none" detail="false">
        <ion-icon name="book-outline" slot="end" class="info-color"></ion-icon>
        <ion-label>
          <ion-card-subtitle class="info-color">TOTAL FICHAS</ion-card-subtitle>
          <ion-card-title>24</ion-card-title>
        </ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item lines="none" detail="false">
        <ion-icon name="eye-outline" slot="end" class="view-color"></ion-icon>
        <ion-label>
          <ion-card-subtitle class="view-color">VISITAS TOTALES</ion-card-subtitle>
          <ion-card-title>1.2k</ion-card-title>
        </ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item lines="none" detail="false">
        <ion-icon name="star" slot="end" class="grade-color"></ion-icon>
        <ion-label>
          <ion-card-subtitle class="grade-color">MEDIA CALIFICACIÓN</ion-card-subtitle>
          <ion-card-title>4.9</ion-card-title>
        </ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item lines="none" detail="false">
        <ion-icon name="document-text-outline" slot="end" class="info-color"></ion-icon>
        <ion-label>
          <ion-card-subtitle class="info-color">EN REVISIÓN</ion-card-subtitle>
          <ion-card-title>3</ion-card-title>
        </ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>

  <!-- ion card recetas -->
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />

    <ion-card-content>
      <div class="card-metadata">
        <ion-badge color="warning" mode="ios">PB-04 • AVANZADO</ion-badge>

        <div class="views-container">
          <ion-icon name="eye-outline"></ion-icon>
          <span class="views-count">482 visitas</span>
        </div>
      </div>

      <h2 class="card-title">Tarta de Frutos Rojos y Crema Mousseline</h2>
    <p class="card-subtitle">
      Un clásico de la pastelería que integra técnica de masa quebrada...
    </p>
    </ion-card-content>

    <ion-button fill="clear">
      <ion-icon slot="start" name="pencil-outline"></ion-icon>
      Editar
    </ion-button>
    <ion-button fill="clear">
      <ion-icon slot="start" name="share-social-outline"></ion-icon>
      Compartir
    </ion-button>
  </ion-card>
</ion-content>